body{
    background-color: darkgray;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
button{
    background: none;
    font-size: 1em;
    padding: 1em 2em;
    color: rgb(177, 122, 20);
    border: 2px solid rgb(20, 14, 14);
    transition: 0.20s ;

}

button:hover{
    border-color: #7fff00;
    color: whitesmoke;
    box-shadow: 0 0.5em 0.5em #7fff00;
    transform: translateY(-0.25em);
    cursor: pointer;
}